<!DOCTYPE html>
<html lang='en'>
<head>

    <%- include ("partials/meta.ejs") %>
    
</head>
<body>

    <%- include ("partials/navbar.ejs") %>

    <div class="backgroundContainer">
        <img class="bgImage" src="../images/portrait_quadrant.jpeg" alt="mumford & sons group shot">
        <div class="bgOpacity"></div>
        <div class="aboutUsContainer">
            <div class="bgOpacityAboutUs"></div>
            <div class="bgTextAboutUs">About Us</div>
            <div class="aboutUsText">
                Mumford & Sons is a British folk rock band formed in London in 2007. The band consists of Marcus Mumford (lead vocals, electric guitar, acoustic guitar, drums), Ben Lovett (vocals, keyboards, piano), and Ted Dwane (vocals, bass guitar, double bass). Banjo player Winston Marshall left the band in 2021.
            <br>
            <br>
                Mumford & Sons has released four studio albums: Sigh No More (2009), Babel (2012), Wilder Mind (2015) and Delta (2018). Their debut Sigh No More peaked at number two on the UK Albums Chart and the Billboard 200 in the US, with Babel and Wilder Mind both debuting at number one in the UK and US, the former becoming the fastest-selling rock album of the decade and leading to a headline performance at the Glastonbury Festival in 2013. The band has also issued three live albums: Live at Shepherd's Bush Empire (2011), The Road to Red Rocks (2012) and Live from South Africa: Dust and Thunder (2017).
            <br>
            <br>
                The band has won a number of music awards throughout their career, with Sigh No More earning the band the Brit Award for Best British Album in 2011, a Mercury Prize nomination and six overall Grammy Award nominations. The live performance at the 2011 Grammy ceremony with Bob Dylan and The Avett Brothers led to a surge in popularity for the band in the US. The band received eight total Grammy nominations for Babel and won the Grammy Award for Album of the Year. The band also won the Brit Award for Best British Group in 2013 and an Ivor Novello Award for International Achievement in 2014.
            </div>
        </div>
    </div>

    <!-- Github and LinkedIn links -->
    <div class="contactInfo">
        <a href="https://github.com/stephendoty826/mumford_and_sons" target="_blank" class="contactLinks"><i class="fab fa-github"></i>&nbsp Github</a>
        <div class="contactLinks">Created by<a href="https://www.linkedin.com/in/stephen-doty/" target="_blank" class="contactLinks"> Stephen Doty</a></div>
    </div>

    <script src='https://kit.fontawesome.com/35bf133ef1.js' crossorigin='anonymous'></script>
</body>
</html>