<!DOCTYPE html>
<html lang='en'>
<head>
    <%- include ("partials/meta.ejs") %>
</head>
<body>

    <%- include ("partials/navbar.ejs") %>

    <div class="backgroundContainer">
        <img class="bgImageContactUs" src="../images/group_shot_8_contactus.jpeg" alt="mumford & sons group shot">
        <div class="bgOpacityContactUs"></div>
        <div class="contactUsContainer">
            <div class="bgWhiteOpacityContactUs"></div>
            <div class="bgTextContactUs">Contact Us</div>
            <div class="feedbackContainer row">
                <div class="formContainer col-6">
                    <div class="title">Send Us Feedback</div>
                    <form class="form" action="">
                        <label class="form-label">Name:</label>
                        <input class="inputBox" id="name" name="name" type="text" placeholder="Enter your name">
                        <label class="form-label">Title:</label>
                        <input class="inputBox" id="title" name="title" type="text" placeholder="Title your message">
                        <label class="form-label">Message:</label>
                        <textarea class="inputBox" id="message" name="message" type="text" placeholder="Enter your message, then hit submit" rows="4"></textarea>
                        <button id="submitButton" type="submit" class="col-3">Submit</button>
                    </form>
                </div>
                <div class="feedbackMessages col-6">
                    <!-- feedback messages populated via contactusClient.js -->
                </div>
            </div>
        </div>
    </div>

    <!-- Github and LinkedIn links -->
    <div class="contactInfo">
        <a href="https://github.com/stephendoty826/mumford_and_sons" target="_blank" class="contactLinks"><i class="fab fa-github"></i>&nbsp Github</a>
        <div class="contactLinks">Created by<a href="https://www.linkedin.com/in/stephen-doty/" target="_blank" class="contactLinks"> Stephen Doty</a></div>
    </div>

    <script src='https://kit.fontawesome.com/35bf133ef1.js' crossorigin='anonymous'></script>
    <script src="/js/contactusClient.js"></script>
</body>
</html>