<!DOCTYPE html>
<html lang='en'>
<head>
    <%- include ("partials/meta.ejs") %>
</head>
<body>

    <%- include ("partials/navbar.ejs") %>

    <div class="backgroundContainer">
        <img class="bgImage" src="../images/group_shot_2.jpeg" alt="mumford & sons group shot">
        <div class="bgOpacity"></div>
        <div class="bgWhiteOpacity"></div>
        <div class="bgText">Mumford & Sons</div>
    </div>

    <!-- Github and LinkedIn links -->
    <div class="contactInfo">
        <a href="https://github.com/stephendoty826/mumford_and_sons" target="_blank" class="contactLinks"><i class="fab fa-github"></i>&nbsp Github</a>
        <div class="contactLinks"><a href="https://www.linkedin.com/in/stephen-doty/" target="_blank" class="contactLinks">Created by Stephen Doty</a></div>
    </div>

    <script src='https://kit.fontawesome.com/35bf133ef1.js' crossorigin='anonymous'></script>
</body>
</html>