
.contentContainerAlbum{
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family: 'DM Serif Text', serif;
}

.backgroundContainerAlbum{
    background-color: #F7EADE;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
    .bgImageAlbum{
        height: 100%;
        width: auto;
        z-index: 20;
        opacity: 100%;
        filter:blur(3px);
    }
    .bgOpacityAlbum{
        background-color: black;
        position: absolute;
        opacity: 60%;
        z-index: 30;
        height: 100%;
        width: 100%;
    }

    /* contained within div with d-flex */
        .albumArtContainerAlbum{
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 400px;
        }
            .albumArtworkAlbum{
                height: 400px;
                width: 400px;
                box-shadow: 6px 5px 4px 0px rgba(0,0,0,0.55);
            }
            .listenOn{
                padding-top: 10px;
                font-size: 28px;
                color: white;
            }
                .listenLink{
                    color: white;
                }
                .listenLink:hover{
                    color: white;
                    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.75);
                }
                .listenLink:visited{
                    color: white;
                }


        .songListContainer{
            border-radius: 24px;
            margin-right: 50px;
            margin-top: 15px;
            position: relative;
            width: 49%;
            height: 410px;
            display: flex;
            flex-direction: column;
        }
            .songListBackground{
                background-color: black;
                ;
                border-radius: 24px;
                margin-top: 40px;
                margin-right: 50px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                opacity: 50%;
            }        
            .songListSubcontainer{
                height: 100%;
                width: 100%;
                position: absolute;
                display: flex;
                flex-direction: column;
            }
                .songList{
                    height: 290px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-content: center;
                    color: white;
                }
                .songListItem{
                    font-size: 20px;
                    width: auto;
                    margin-right: 20px;
                    margin-left: 40px;
                }
    
    .descriptionContainer{
        position: relative;
        margin-top: 30px;
        height: 230px;
        width: 100%;
        z-index: 40;
    }
        .descriptionBackground{
            background-color: black;
            padding-top: 65px;
            padding-inline: 80px;
            height: 230px;
            width: 100vw;
            position: absolute;
            z-index: 40;
            opacity: 50%
        }
        .description{
            color: white;
            /* padding-top: 15px; */
            margin-top: 15px;
            padding-inline: 200px;
            height: 200px;
            font-size: 24px;
            overflow-y: scroll;
            position: absolute;
            opacity: 100%;
            z-index: 50;
        }

.z40{
    z-index: 40;
}

