
body{
    margin: 0px;
    padding: 0px;
    background-color: #252D35;
}

.navbarContainer{
    background-color: #252D35;
    height: 50px;
    width: 100%;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    padding-left: 0px;
    z-index: 50;
}
    .navbarItems{
        font-family: 'DM Serif Text', serif;
        font-size: 18px;
        color: rgb(202, 202, 202);
        box-sizing: border-box;
        text-decoration: none;
    }
    .navbarItems:hover{
        color: white;
    }

.backgroundContainer{
    background: #F7EADE;
    height: 94.8vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
    .bgImage{
        height: 100%;
        width: auto;
        z-index: 20;
    }
    .bgOpacity{
        background-color: black;
        position: absolute;
        opacity: 30%;
        z-index: 30;
        height: 100%;
        width: 100%;
    }
    .bgWhiteOpacity{
        background-color: #fff;
        position: absolute;
        opacity: 30%;
        height: 175px;
        width: 100%;
        z-index: 40;
    }
    .bgText{
        font-family: 'DM Serif Text', serif;
        color: white;
        font-size: 144px;
        text-shadow: 4px 4px 4px rgba(0,0,0,0.70);
        margin-bottom: 10px;
        position: absolute;
        z-index: 50;
    }

/* Github and LinkedIn links */
.contactInfo{
    background-color: #252D35;
    height: 80px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'DM Serif Text', serif;
}
    .contactLinks{
        font-size: 20px;
        text-decoration: none;
        color: white;
    }
    a.contactLinks:hover{
        text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.75);
    }
    a.contactLinks:visited{
        color: white;
    }



